/* Coolors Exported Palette - https://coolors.co/121b26-1a2634-ffffff-b0bec5-039be5-30475e-18232f */

/* CSS HEX */
--rich-black: #121b26ff;
/* Fondo principal */
--gunmetal: #1a2634ff;
/* Barra de navegacion */
--white: #ffffffff;
/* Texto principal */
--french-gray: #b0bec5ff;
/* Texto secundario */
--celestial-blue: #039be5ff;
/* Botones principales */
--charcoal: #30475eff;
/* Botones secundarios */
--gunmetal-2: #18232fff;
/* Sombra y resalto */

/* CSS HSL */
--rich-black: hsla(213, 36%, 11%, 1);
--gunmetal: hsla(212, 33%, 15%, 1);
--white: hsla(0, 0%, 100%, 1);
--french-gray: hsla(200, 15%, 73%, 1);
--celestial-blue: hsla(200, 97%, 45%, 1);
--charcoal: hsla(210, 32%, 28%, 1);
--gunmetal-2: hsla(211, 32%, 14%, 1);

/* SCSS HEX */
$rich-black: #121b26ff;
/* Fondo principal */
$gunmetal: #1a2634ff;
/* Barra de navegacion */
$white: #ffffffff;
/* Texto principal */
$french-gray: #b0bec5ff;
/* Texto secundario */
$celestial-blue: #039be5ff;
/* Botones principales */
$charcoal: #30475eff;
/* Botones secundarios */
$gunmetal-2: #18232fff;
/* Sombra y resalto */

/* SCSS HSL */
$rich-black: hsla(213, 36%, 11%, 1);
$gunmetal: hsla(212, 33%, 15%, 1);
$white: hsla(0, 0%, 100%, 1);
$french-gray: hsla(200, 15%, 73%, 1);
$celestial-blue: hsla(200, 97%, 45%, 1);
$charcoal: hsla(210, 32%, 28%, 1);
$gunmetal-2: hsla(211, 32%, 14%, 1);

/* SCSS RGB */
$rich-black: rgba(18, 27, 38, 1);
$gunmetal: rgba(26, 38, 52, 1);
$white: rgba(255, 255, 255, 1);
$french-gray: rgba(176, 190, 197, 1);
$celestial-blue: rgba(3, 155, 229, 1);
$charcoal: rgba(48, 71, 94, 1);
$gunmetal-2: rgba(24, 35, 47, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-right: linear-gradient(90deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-bottom: linear-gradient(180deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-left: linear-gradient(270deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-top-right: linear-gradient(45deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-bottom-right: linear-gradient(135deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-top-left: linear-gradient(225deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-bottom-left: linear-gradient(315deg, #121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
$gradient-radial: radial-gradient(#121b26ff, #1a2634ff, #ffffffff, #b0bec5ff, #039be5ff, #30475eff, #18232fff);
